In [1]:
%autosave 120

Autosaving every 120 seconds

In [4]:
# STRING BASED ASSIGNMENT PROBLEMS

In [4]:
# STRING BASED ASSIGNMENT PROBLEMS

In [5]:
#1. write a program to reverse a string.

def reverse_string(x):
    return(x[::-1])

# funtion named reverse_string is created. with single argument 'x', denotes normal string.
# return statement return'x' by reversing it's string using indexing method.

In [6]:
reverse_string('Tahreen')

'neerhaT'

In [1]:
# 2. check if the string is palindrome

def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

s = input('Enter a string:')
if is_palindrome(s):
    print('Is is a palindrome')
else:
    print('it is not a palindrome')

#     the function is_palindrome accepts argument 's' which denotes string. and 
#

Enter a string: Amima

Is is a palindrome

In [15]:
is_palindrome('saad khan')

False

In [23]:
# 3. convert a string to uppercase

def upper_case(x):
    return x.upper()

In [24]:
upper_case('saaduchibil')

'SAADUCHIBIL'

In [25]:
# 4. convert a string to lower case

def lower_case(x):
    return x.lower()

In [27]:
lower_case('STOmacH AND INTESTINE ARE IN CONTINUATION')

'stomach and intestine are in continuation'

In [63]:
# 5. Count the number of vowels in a string:
# METHOD 1;

def vowels_count(x):
    a = 'aeiouAEIOU'
    b = 0
    for i in x:
        if i in a:
            b+=1
    print('The no. of vowels in string are:',b)

In [64]:
vowels_count('Hello world this is Tahreen.')

The no. of vowels in string are: 8

In [57]:
# METHOD 2;
def vowels(x):
    print("no. of 'a' in string is", x.count('a'))
    print("no. of 'e' in string is", x.count('e'))
    print("no. of 'i' in string is", x.count('i'))
    print("no. of 'o' in string is", x.count('o'))
    print("no. of 'u' in string is", x.count('u'))

In [58]:
vowels('Hello')

no. of 'a' in string is 0
no. of 'e' in string is 1
no. of 'i' in string is 0
no. of 'o' in string is 1
no. of 'u' in string is 0

In [91]:
# 6.Count the number of consonants in a string
def consonant(x):
    c = 'aeiouAEIOU'
    d = 0
    for i in x:
        if i!=" "and i not in c:
            d+=1
    print("The no. of consonant in the strings are:",d)

In [92]:
consonant('Tahreen khan')

The no. of consonant in the strings are: 7

In [97]:
# 7. Remove all whitespaces from a string.
def remove_whitespace(x):
    return x.replace(' ','')

In [98]:
remove_whitespace('Hello teachers there are lot of questions in the assignment.')

'Helloteacherstherearelotofquestionsintheassignment.'

In [99]:
# 8. Find the length of a string without using the `len()` function.

def length_of_string(x):
    n = 0
    for i in x:
        n +=1
    print(n)

In [100]:
length_of_string('Tahreen ')

8

In [57]:
#9. Check if a string contains a specific word.
# METHOD 1

def specific_word(string,word):
    return word in string

In [58]:
specific_word('Roots absorb water through the process of diffusion','diffusion')

True

In [60]:
specific_word('The ladder of failure reaches to success','quiet')

False

In [5]:
# METHOD 2:

def comment(x):
    restricted_word = ['fucked','dirty','sexy']
    for word in restricted_word:
        if word in x:
            print('Your comment is not postable')
            return
    print('postable comment')

In [6]:
comment("The Govt. hands are dirty with the blood of poor people.")

Your comment is not postable

In [30]:
comment('Killing civilians in a war is a sin')

postable comment

In [2]:
#10. Replace a word in a string with another word

def replace(x):
    return x.replace('bad','good')

In [3]:
replace('Extremely right wing political parties are bad for democracy of India')

'Extremely right wing political parties are good for democracy of India'

In [51]:
# 11. Count the occurrences of a word in a string
def count(x,word):
    return f"The count of '{word}' in the string is:",x.count(word)

In [52]:
count('the wise man and wise women make up a wise society','wise')

("The count of 'wise' in the string is:", 3)

In [44]:
# 12. Find the first occurrence of a word in a string:

def first_occurence(x,word):
    if x.find(word)!=-1:
        print(f'The first occurence of "{word}" in string is',x.find(word))
        return
    print(f'The "{word}" is absent from the string.')

In [65]:
first_occurence('Joe Biden became the president of America','Biden')

The first occurence of "Biden" in string is 4

In [45]:
first_occurence('words come out of tongue and tongue sound like words','lili')

The "lili" is absent from the string.

In [54]:
# 13. Find the last occurrence of a word in a string:

def last_occurence(x,word):
    if x.rfind(word):
        print(f"The last occurence of '{word}' in the string is", x.rfind(word))
        return
    print(f"The '{word}' is not the last occcurence of the string")

In [55]:
last_occurence('hii , tina nice to meet you','you')

The last occurence of you in the string is 24

In [66]:
# 14. Split a string into a list of word'

def split_string(x):
    return x.split()

In [67]:
split_string('Namaskar mitro jahan hai wahi rahe.')

['Namaskar', 'mitro', 'jahan', 'hai', 'wahi', 'rahe.']

In [9]:
# 15. Join a list of words into a string:

def join_list(x):
    return ' '.join(x)

In [11]:
join_list(['hello','world','how','are','you'])

'hello world how are you'

In [13]:
# 16. Convert a string where words are separated by spaces to one where words
# are separated by underscores.
def string(x):
    return x.replace(' ','_')

In [14]:
string('I made a very beautifull wall piece')

'I_made_a_very_beautifull_wall_piece'

In [19]:
# 17. Check if a string starts with a specific word or phrase
def startswith(x,word):
    return x.startswith(word)

In [20]:
startswith('Helena is a good girl','Helena')

True

In [22]:
startswith('saaduchibil is a good boy','saiba')

False

In [23]:
# 18. Check if a string ends with a specific word or phrase.
def endswith(x,word):
    return x.endswith(word)

In [24]:
endswith('Sometimes i like typing very much','much')

True

In [25]:
endswith('My younger brother farts too many times a day.','brother')

False

In [27]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World"):

def title_case(x):
    return x.title()

In [29]:
title_case('people should stop using strong perfumes')

'People Should Stop Using Strong Perfumes'

In [12]:
# 20. Find the longest word in a string.

def longest_word(x):
    return max(x.split(),key = len)

In [16]:
longest_word('once you understand differentiation is easy its just very time consuming.')

'differentiation'

In [17]:
# 21. Find the shortest word in a string.

def shortest_word(x):
    return min(x.split(), key = len)

In [21]:
shortest_word('Joe biden gave a speech about Indian press in veitnam')

'a'

In [30]:
# 22. Reverse the order of words in a string

def reverse_order(x):
    return ' '.join(x.split()[::-1])

In [31]:
reverse_order('He gave importance of independent press for a country')

'country a for press independent of importance gave He'

In [11]:
# 23. Check if a string is alphanumeric.

def is_alphanumeric(x):
    return ''.join(x.split()).isalnum()

# EXPLANATION;here is converted string to list usind split method and then joined it again so as to ask for alphanumeric condition
# isalnum fuction is not applicable to list thus used join function to convert it again to a string.
# here split function is used to remove spaces and puctuatin if any in order to get accurate answer or so the condition comes out true

In [12]:
is_alphanumeric('how are you now a days so letsn485687')

True

In [13]:
is_alphanumeric('sony234')

True

In [15]:
is_alphanumeric("HEllo wrod")

True

In [49]:
# 24. Extract all digits from a string:

def extract_digits(x):
    return ''.join([i for i in x if i.isdigit()])

In [50]:
extract_digits('7890 could you 4545find a456y ways54.')

'7890454545654'

In [54]:
# 25. Extract all alphabets from a string.

def extract_alphabets(x):
    return ''.join([i for i in x if i.isalpha()])

In [55]:
extract_alphabets('Hello 456world  3546 this456 ')

'Helloworldthis'

In [14]:
# 26. Count the number of uppercase letters in a string:

def count_uppercase(x):
    return sum(1 for i in x if i.isupper())

In [15]:
count_uppercase('Hello world, this is Tahreen.')

2

In [16]:
# 27. Count the number of lowercase letters in a string.

def count_lowercase(x):
    return sum(1 for i in x if i.islower())

In [22]:
count_lowercase('saad saaD')

7

In [31]:
# 28. Swap the case of each character in a string.
def swapcase(x):
    return x.swapcase()

In [32]:
swapcase('There is a war going on between Israel and Palestinian Civilians')

'tHERE IS A WAR GOING ON BETWEEN iSRAEL AND pALESTINIAN cIVILIANS'

In [16]:
# 29. Remove a specific word from a string.

def remove(x,word):
    return x.replace(word,'').strip(' ')

# EXPLANATION: here the reusable def fuction is taking two input 'x: input string',and 'word: the word to be removed'
# replace function is used to remove the 'word' from string x and strip function is used to remove the unecessary spaces present in the string after the removal of specific word.

In [17]:
remove('hey hi how are you hey','hey')

'hi how are you'

In [32]:
# 30. Check if a string is a valid email address:

import re
def email(x):
    y = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(y,x):
        print('valid email adress')
        return
    print('invalid email address')
    
# EXPLANATION: after importing 're' y is the pattern given for valid email address
# Using if method there is a comparison/matching between 'x:input' and 'y:pattern for valid email' with the help of re.match fuction
# For user's convenience if method is letting them know wether the email is valid or not.

In [35]:
email('Tahreen345@gmail.com')

valid email adress

In [36]:
email('3456@gmail.com')

valid email adress

In [39]:
email('....@gmail.com')

valid email adress

In [40]:
email('  @gmail.com')

invalid email address

In [41]:
email('saadkhan')

invalid email address

In [69]:
# 31. Extract the username from an email address string.

import re
def user_name(x):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern,x):
        print('The username of your email address is:', x.split('@')[0])
        return
    print('Invalid email address')

In [71]:
user_name('Tahreen345@gmail.com')

The username of your email address is: Tahreen345

In [73]:
user_name('Narendra@..')

Invalid email address

In [76]:
# 32. Extract the domain name from an email address string.

import re
def domain_name(x):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern,x):
        print('The domain name of your email id is:', x.split('@')[1])
        return
    print('Invalid email address')

In [77]:
domain_name('shreya@gmail.com')

The domain name of your email id is: gmail.com

In [79]:
domain_name('shreya@....')

Invalid email address

In [97]:
# 33. Replace multiple spaces in a string with a single space

def replace_multiple_spaces(x):
    return ' '.join(x.split())

In [98]:
replace_multiple_spaces('  hi    hello   how are    you   ')

'hi hello how are you'

In [118]:
# 34. Check if a string is a valid URL.
from urllib.parse import urlparse
 
def url(x):
    try:
        result = urlparse(x)
        return all([result.scheme, result.netloc])
    except Exception:
        return False

In [119]:
url('https://www.example.com')

True

In [120]:
url('fgfd')

False

In [130]:
from urllib.parse import urlparse

def extract_protocol(x):
    result = urlparse(x)
    if all([result.scheme , result.netloc]):
        print('The protocol of given url is:',x.split(':')[0])
        return
    print('Invalid URL.')

In [127]:
extract_protocol('https://www.example.com')

The protocol of given url is: https

In [131]:
extract_protocol('http : ww.k.com')

Invalid URL.

In [17]:
# 36. Find the frequency of each character in a string.

def frequency(x):
    y ={}
    for i in x:
        if i in y:
            y[i] += 1
        else:
            y[i] = 1
    return f"The frequency of letters in string are : {y}"

In [18]:
frequency('Hello world')

"The frequency ofletters in string are : {'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}"

In [11]:
# 37. Remove all punctuation from a string.
import string
def remove_punctuation(x):
    translator_map = str.maketrans("","",string.punctuation)
    clean_string = x.translate(translator_map)
    print('The original string:',x)
    return f"cleaned string: {clean_string}"

In [12]:
remove_punctuation('Journalist: Israel, is killing innocent civilians who are defending themselves')

The original string: Journalist: Israel, is killing innocent civilians who are defending themselves

'cleaned string: Journalist Israel is killing innocent civilians who are defending themselves'

In [23]:
# 38. Check if a string contains only digits.
def only_digits(x):
    return x.isdigit()

In [25]:
only_digits('hello world 3456 dfhg3456')

False

In [26]:
only_digits('43567')

True

In [57]:
# 39. Check if a string contains only alphabets
def only_alphabets(x):
    y = ''.join(a.split())
    return y.isalpha()

In [58]:
only_alphabets('saaduchibil')

True

In [59]:
only_alphabets('saad345')

True

In [60]:
only_alphabets('7890')

True

In [66]:
# 40. Convert a string to a list of characters
def list_conversion(x):
    return list(x)

In [68]:
list_conversion('hello')

['h', 'e', 'l', 'l', 'o']

In [85]:
# 41. Check if two strings are anagrams.

def are_anagrame(x,y):
    return sorted(x.replace(" ","").lower())==sorted(y.replace(" ","").lower())

In [86]:
are_anagrame('who are you saaduchibil?','saaduchibil? who are you')

True

In [87]:
are_anagrame('saaduchibil is no one but saad','yes thats right')

False

In [79]:
# 42. Encode a string using a Caesar cipher

def encode_string(text,shift):
    encoded_string = ""
    for i in text:
        if i.isalnum():
            encoded_char = chr((ord(i)+shift-ord('a'))%26+ord('a'))
        else:
            encoded_char = i
            
        encoded_string += encoded_char
    return f'The encoded string is : {encoded_string}'

In [80]:
encode_string('hello world',4)

'The encoded string is : lipps asvph'

In [89]:
# 43. Decode a Caesar cipher encoded string.

def decode_string(text,shift):
    decoded_string = ""
    for i in text:
        if i.isalpha():
            decoded_char = chr((ord(i)-shift-ord('a'))%26+ord('a'))
        else:
            decoded_char = i
            
        decoded_string += decoded_char
    return f"The decoded string is : {decoded_string}"

In [90]:
decode_string('lipps asvph',4)

'The decoded string is : hello world'

In [1]:
# 44. Find the most frequent word in a string.

import re
from collections import Counter

def most_frequent_word(x):
    remove_punctuation = re.sub(r'[^\w\s]','',x).lower()
    make_list = remove_punctuation.split()
    count_frequency = Counter(make_list)
    most_frequent_word = count_frequency.most_common(1)[0][0]
    return most_frequent_word

In [2]:
most_frequent_word('cat is cute but cat is lazy, cat sleeps a lot.')

'cat'

In [12]:
# 45. Find all unique words in a string.

import re

def unique_words(x):
    remove_punctuation = re.sub(r'[^\w\s]','',x).lower()
    make_list = remove_punctuation.split()
    make_set = set(make_list)
    return make_set

In [13]:
unique_words('hello kitty hi kitty bye kitty')

{'bye', 'hello', 'hi', 'kitty'}

In [14]:
# 46. Count the number of syllables in a string

import re

def count_syllables(x):
    syllables_group = re.findall(r'[aeiouy]+',x,re.IGNORECASE)
    return f'The total no. of syllables in the string is : {len(syllables_group)}'

In [15]:
count_syllables('Israel did group invasion in palestine just last night')

'The total no. of syllables in the string is : 15'

In [16]:
# 47. Check if a string contains any special characters.

import re

def special_character(x):
    pattern = re.compile(r'[~!@#$%^&*()_+{}|[\];:<>,.?\\/]')
    match_pattern = pattern.search(x)
    return bool(match_pattern)

In [17]:
special_character('is there any shift pattern in this string')

False

In [18]:
special_character('https:\www.mobile.com')

True

In [16]:
# 48. Remove the nth word from a string.

def remove_nth_word(x,n):
    make_list = x.split()
    if n>=1 and n<=len(make_list):
        pop = make_list.pop(n-1)
        new_string = ' '.join(make_list)
        return f"The final string is : {new_string} and the removed word is : {pop}"
    else:
        return None

In [18]:
remove_nth_word('hello world let join for dinner.',10)

In [31]:
remove_nth_word('Hello world, lets join for dinner',2)

'The final string is : Hello lets join for dinner and the removed word is : world,'

In [39]:
# 49. Insert a word at the nth position in a string.

def insert_words(x,n,y):
    make_list = x.split()
    if n>=0 and n<=len(make_list):
        add_words = make_list.insert(n-1,y)
        modified_string = ' '.join(make_list)
        return f'The new string is : {modified_string} and The added word is : {add_words}'
    else:
        return none

In [41]:
insert_words('Narendra modi is the prime miniter of India',5,'good')

'The new string is : Narendra modi is the good prime miniter of India and The added word is : None'

In [50]:
# 50. Convert a CSV string to a list of lists.
# comma separated values

def csv(x):
    l = x.split('\n')
    m = []
    for i in l:
        split = i.split(',')
        m.append(split)
    return m

In [53]:
csv("Name, Age, Country\nsaad, 15, India\nAzra, 9, U.k\nTahreen, 19, Qatar\nFaiz, 21, America")

[['Name', ' Age', ' Country'],
 ['saad', ' 15', ' India'],
 ['Azra', ' 9', ' U.k'],
 ['Tahreen', ' 19', ' Qatar'],
 ['Faiz', ' 21', ' America']]

In [ ]:
# List Based Practice Problem :

In [61]:
# 1. Create a list with integers from 1 to 10.

l = [i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
# 2. Find the length of a list without using the `len()` function.

def string_length(x):
    count = 0
    for i in x:
        count+=1
    return count

In [68]:
string_length([3,5,6,7,8])

5

In [71]:
string_length(['Faiz','Saad','Saiba','mummy','daddy','grand daddy','grand mummy'])

7

In [90]:
# 3. Append an element to the end of a list
l = [2,3,5,6]
l.append('somya')
l

[2, 3, 5, 6, 'somya']

In [92]:
# 4. Insert an element at a specific index in a list
l = [3,5,6,7]
l.insert(2,'sheer')
l

[3, 5, 'sheer', 6, 7]

In [99]:
# 5. Remove an element from a list by its value

l = [3,5,6,'datascience','powerbi','DSA','data algorithm',3456.34]
l.remove('powerbi')
print(f'The final string is: {l}. ')

The final string is: [3, 5, 6, 'datascience', 'DSA', 'data algorithm', 3456.34].

In [101]:
# 6. Remove an element from a list by its index.

l = [3,5,6,'datascience','powerbi','DSA','data algorithm',3456.34]
p = l.pop(3)
print(f'The final string is: {l}\nAnd the removed word is: {p}')

The final string is: [3, 5, 6, 'powerbi', 'DSA', 'data algorithm', 3456.34]
And the removed word is: datascience

In [2]:
# 7. Check if an element exists in a list
 
l = [3,5,6,'datascience','powerbi','DSA','data algorithm',3456.34]
if input('Enter the element: ') in map(str,l):
    print('This element exist in string.')
else:
    print('This element does not exist in string.')

Enter the element:  3456.34

This element exist in string.

In [10]:
# 8. Find the index of the first occurrence of an element in a list.

l = [3,5,3,6,'datascience','powerbi',3,'DSA','data algorithm',5,3456.34]
j = l.index(3)
print(j)

0

In [12]:
# 9. Count the occurrences of an element in a list.

l = [3,5,3,6,'datascience','powerbi',3,'DSA','data algorithm',5,3456.34]
a = l.count(3)
print(a)

3

In [17]:
# 10. Reverse the order of elements in a list

l = [3,5,3,6,'datascience','powerbi',3,'DSA','data algorithm',5,3456.34]
l.reverse()
print(l)

[3456.34, 5, 'data algorithm', 'DSA', 3, 'powerbi', 'datascience', 6, 3, 5, 3]

In [23]:
# 11. Sort a list in ascending order.

l = [3,9,5,90,76,45,23]
l.sort()
print(l)

[3, 5, 9, 23, 45, 76, 90]

In [24]:
# 12. Sort a list in descending order.

l = [3,9,5,90,76,45,23]
l.sort()
l.reverse()
print(l)

[90, 76, 45, 23, 9, 5, 3]

In [38]:
# 13. Create a list of even numbers from 1 to 20.
l = [i for i in range(2,21,2)]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
# 14. Create a list of odd numbers from 1 to 20

l = [i for i in range(1,21,2)]
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [41]:
# 15. Find the sum of all elements in a list.
l = [1,2,3,4,5,6]
print(sum(l))

21

In [42]:
# 16. Find the maximum value in a list
l = [100,5,4,78,93]
print(max(l))

100

In [43]:
# 17. Find the minimum value in a list.

l = [100,5,4,78,93]
print(min(l))

4

In [46]:
# 18. Create a list of squares of numbers from 1 to 10

l = [i**2 for i in range(1,10)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
# 19. Create a list of random numbers.i

import random
l = [random.randint(1,100) for _ in range(1,10)]
print(f'list of 10 random numbers: {l}')

list of 10 random numbers: [33, 30, 68, 61, 55, 35, 88, 41, 31]

In [12]:
# 20. Remove duplicates from a list

l = [1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10]
print(f'Original list: {l}\nList without dublicates: {list(set(l))}')

Original list: [1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10]
List without dublicates: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# 21. Find the common elements between two lists.

#METHOD 1: Using for loop
l1 = [1,3,5,6,7,90]
l2 = [1,5,90,45,67]
common_elements = []
for i in l1:
    if i in l2:
        common_elements.append(i)
        
print(f'common element in l1 and l2: {common_elements}')

common element in l1 and l2: [1, 5, 90]

In [9]:
# METHOD 2: Using list comprehension:

l1 = [1,3,5,6,7,90]
l2 = [1,5,90,45,67]
common_elements = []
l = [i for i in l1 if i in l2]
print(l)

[1, 5, 90]

In [14]:
# 22. Find the difference between two lists.
# METHOD 1: Using list comprehension
l1 = [1,3,5,6,7,90]
l2 = [1,5,90,45,67]
l = [i for i in l1 if i not in l2]
h = [i for i in l2 if i not in l1]
print(f'Difference in l1 from l2: {l}\nDifference in l2 from l1: {h}')

Difference in l1 from l2: [3, 6, 7]
Difference in l2 from l1: [45, 67]

In [19]:
# METHOD 2:Using difference method

l1 = [1,3,5,6,7,90]
l2 = [1,5,90,45,67]

d1 = list(set(l1).difference(l2))
d2 = list(set(l2).difference(l1))
print(f'Difference in l1 from l2: {d1}\nDifference in l2 from l1: {d2}')

Difference in l1 from l2: [3, 6, 7]
Difference in l2 from l1: [67, 45]

In [20]:
# 23. Merge two lists.

l1 = [1,3,5,6,7,90]
l2 = [1,5,90,45,67]
merge = l1+l2
print(f'The merged list is: {merge}')

The merged list is: [1, 3, 5, 6, 7, 90, 1, 5, 90, 45, 67]

In [24]:
# 24. Multiply all elements in a list by 2.
l1 = [1,3,5,6,7,90]
l = [i*2 for i in l1]
print(f'The list is multiplied by 2: {l}')

The list is multiplied by 2: [2, 6, 10, 12, 14, 180]

In [28]:
# 25. Filter out all even numbers from a list
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]
l = [i for i in l1 if i%2!=0]
print(f'Filtered out even number list: {l}')

Filtered out even number list: [1, 3, 5, 7, 9, 11, 13]

In [32]:
# 26. Convert a list of strings to a list of integers.

l1 = ['1','2','3','4','5','6']
l = [int(i) for i in l1]
l

[1, 2, 3, 4, 5, 6]

In [33]:
# 27. Convert a list of integers to a list of strings.

l1 = [1,3,5,6,7,90]
l = [str(i) for i in l1]
l

['1', '3', '5', '6', '7', '90']

In [24]:
# Flatten a nested list.

def remove_sublist(x):
    flattened_list = []
    for i in x:
        if isinstance(i,list):
            flattened_list.extend(remove_sublist(i))
        else:
            flattened_list.append(i)
    return flattened_list

In [25]:
remove_sublist( [[1, 2, 3], [4, 5], [6, 7, 8, 9]])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# 29. Create a list of the first 10 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_list = [0,1]
    for i in range(2,n):
        next_fibonacci = fibonacci_list[i-1]+fibonacci_list[i-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list

In [32]:
generate_fibonacci(9)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [3]:
# 30 Check if the list is sorted
def is_sorted(list):
    for i in range(1,len(list)):
        if list[i]<list[i-1]:
            return False
    return True

In [5]:
is_sorted([1,2,3,2,67])

False

In [10]:
sort([3,5,6,78])

True

In [5]:
# 31. Rotate a list to the left by `n` position

def rotate_list(list,n):
    n = n%len(list)
    rotated = list[n:]+list[:n]
    return rotated

In [3]:
rotate_list([1,2,3,4,5,6],3)

[4, 5, 6, 1, 2, 3]

In [6]:
rotate_list([1,2,3,4,5,6],17)

[6, 1, 2, 3, 4, 5]

In [7]:
rotate_list([1,2,3,4,5,6],-2)

[5, 6, 1, 2, 3, 4]

In [6]:
rotate_list([1,2,3,4,5,6],-17)

[2, 3, 4, 5, 6, 1]

In [16]:
# 32. Rotate a list to the right by n positions.
def rotate_right(list, n):
    n = n % len(list)
    rotated = list[-n:]+list[:-n]
    return rotated

In [19]:
rotate_right([1,2,3,4,5,6],2)

[5, 6, 1, 2, 3, 4]

In [ ]:
rotate_right([1,2,3,4,5,6],-2)

In [6]:
# 33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num<=1:
        return False
    if num <=3:
        return True
    if num%2==0 or num%3==0:
        return False
    i=5
    while i*i<=num:
        if num%i==0 or num%(i+2)==0:
            return False
        i += 6
    return True

In [7]:
is_prime(7)

True

In [8]:
is_prime(6)

False

In [9]:
prime_number_upto_50 = [num for num in range(1,50) if is_prime(num)]
print(prime_number_upto_50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [10]:
# 34. Split a list into chunks of size `n`.

def split_in_chuncks(lst,n):
    return [lst[i:i+n] for i in range(0,len(lst),n)]

# Explanation: here list comprehension is used for multiple iteration where range is from 0 to complete length of list"(len(lst)),n is the chunk size which leaving 'n' numbers in a list
# lst[i:i+n]: this code helps in slicing the list and making sublist of 'n' size

In [11]:
split_in_chuncks([1,2,3,4,5,6,7,8,9,10,11,12],3)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [14]:
# 35. Find the second largest number in a list.

my_list = [10, 5, 20, 15, 30, 25]
s = sorted(set(my_list))
print(f"The second largest number in the string is: {s[-2]}")

The second largest number in the string is: 25

In [28]:
def second_largest_number(lst):
    if len(lst)>=2:
        j = sorted(set(lst))
        return f"The second largest number in the list is: {j[-2]}"
    return f"The list does not contain enough elements"

In [30]:
second_largest_number([1,6,47,8,7,6,86])

'The second largest number in the list is: 47'

In [29]:
second_largest_number([1])

'The list does not contain enough elements'

In [37]:
# 36. Replace every element in a list with its square

def replace_with_square(lst):
    condition = [i**2 for i in lst]
    return condition

In [38]:
replace_with_square([0,1,2,3,4,5,6,7,8,9])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.

def list_to_dict(lst):
    return {value: i for i ,value in enumerate(lst)}

# here the enumerate function is used for iterating elements along with their indices

In [1]:
# 38. Shuffle the elements of a list randomly.

import random

def shuffle_list(lst):
    random.shuffle(lst)
    return lst

# Explanation: random is imported to access shuffle function in order to shuffle the list.

In [2]:
shuffle_list([1,2,3,4,5,6,7,8,9,10])

[5, 3, 1, 4, 10, 8, 2, 7, 6, 9]

In [11]:
# 39. Create a list of the first 10 factorial numbers.
def fact(n):
    if n ==0 or n==1:
        return 1
    else:
        return n*fact(n-1)

In [12]:
factorial_numbers = [fact(i) for i in range(10) ]

In [13]:
factorial_numbers

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [14]:
fact(5)

120

In [36]:
# 40. Check if two lists have at least one element in common

def has_common_elements(lst1,lst2):
    for i in lst1:
        if i in lst2:
            return True
    return False

In [39]:
has_common_elements([1,2,3,5,6,7],[6,8,9])

True

In [40]:
has_common_elements([1,2,3,5],[6,7,8,9])

False

In [48]:
# 41. Remove all elements from a list.

def empty_list(lst):
    lst.clear()
    return f"Your empty list is: {lst}"

In [49]:
empty_list([1,2,3,5,3,5,6,7,88,9,3,5,6,77,8,9,4,67,8])

'Your empty list is: []'

In [3]:
# 42. Replace negative numbers in a list with 0

def replace_negative_number(lst):
    for i in range(len(lst)):
        if lst[i]<0:
            lst[i]=0
    return f"List after replacing negative numbers with zero: {lst}"

In [4]:
replace_negative_number([-2,-2,-4,-5,-6])

'List after replacing negative numbers with zero: [0, 0, 0, 0, 0]'

In [5]:
replace_negative_number([1,2,3,5,0,-5,-5,-9,-0])

'List after replacing negative numbers with zero: [1, 2, 3, 5, 0, 0, 0, 0, 0]'

In [10]:
# 43. Convert a string into a list of words.

def string_to_list(string):
    return f"The list of word is: {string.split()}"

In [11]:
string_to_list('banana,corainder,leaves,vegetable,cucumber,orange')

"The list of word is: ['banana,corainder,leaves,vegetable,cucumber,orange']"

In [12]:
# 44. Convert a list of words into a string

def list_to_string(lst):
    return f"The string is: {' '.join(lst)}"

In [16]:
list_to_string(['I','eat','chips','a','day.','so,','I','can','become','Doctor','one','day.'])

'The string is: I eat chips a day. so, I can become Doctor one day.'

In [17]:
# 45. Create a list of the first `n` powers of 2.

def power_of_2(n):
    return [i**2 for i in range(n)]

In [18]:
power_of_2(10)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# 46. Find the longest string in a list of strings.

def longest_string(lst):
    longest_string = ""
    for i in lst:
        if len(i)>len(longest_string):
            longest_string = i
    return f"The longest string in a list: {longest_string}"

In [4]:
longest_string( ["apple", "banana", "cherry", "date", "elderberry"])

'The longest string in a list: elderberry'

In [9]:
# 47. Find the shortest string in a list of strings.

def shortest_string(lst):
    shortest_string = "lst[0]"
    for i in lst:
        if len(i)<len(shortest_string):
            shortest_string = i
    return f"The shortest string in the list is: {shortest_string}"

In [10]:
shortest_string(["apple", "banana", "cherry", "date", "elderberry"])

'The shortest string in the list is: date'

In [3]:
# 48. Create a list of the first `n` triangular numbers.

def traingular_number(n):
    return [i*(i+1)//2 for i in range(1,n+1)]

In [4]:
traingular_number(10)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [5]:
traingular_number(5)

[1, 3, 6, 10, 15]

In [2]:
# 49. Check if a list contains another list as a subsequence.

def is_subsequence(main_list,sub):
    subseq_index = 0
    for element in main_list:
        if element == sub[subseq_index]:
            subseq_index += 1
            if subseq_index == len(sub):
                return True 
    return False

In [3]:
is_subsequence([1,2,3,4,5,6,7,8,9,10],[1,5,6])

True

In [4]:
is_subsequence([1,2,3,4,5,6,7,8],[1,1])
# drawback_1:if the elements occur twice it returns false although that must be conisdered true

False

In [6]:
is_subsequence([1,2,3,4,5,6,7,8,9,10],[5,4,1])
# drawback_2: it reads element only in forward direction although the provided list is subsequence of the mainlist

False

In [14]:
# 50. Swap two elements in a list by their indices.
l1 = ['hello','cat','orange',1,3,5.66,'vanilla']
x = l1[1]
l1[1]=l1[2]

['hello', 'orange', 'orange', 1, 3, 5.66, 'vanilla']

In [11]:
l

['hello', 'orange', 'orange', 1, 3, 5.66, 'vanilla']

In [ ]:
# Tuple Based Practice Problem :

In [10]:
# 1. Create a tuple with integers from 1 to 5.
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [11]:
# 2. Access the third element of a tuple.
t = (1,2,3,4,5)
print(f"The third element of the tuple is : {t[2]}")

The third element of the tuple is : 3

In [13]:
# 3. Find the length of a tuple without using the `len()` function.
t = (1,2,3,4,5)
count = 0
for i in t:
    count += 1
print(f"The length of tuple is: {count}")

The length of tuple is: 5

In [17]:
# 4. Count the occurrences of an element in a tuple
def count(tupl,element):
    return tupl.count(element)

In [18]:
count((1,2,3,4,5,4,2,2,2,2,3,6,2),2)

6

In [19]:
# 5. Find the index of the first occurrence of an element in a tuple.
t = (1,2,3,4,5,4,2,2,2,2,3,6,2)
t.index(2)

1

In [20]:
t.index(6)

11

In [30]:
# 6. Check if an element exists in a tuple.
def if_exist(tupl,element):
    for i in tupl:
        if i == element:
            return True
    return False

In [31]:
if_exist((1,2,3,4,5),4)

True

In [32]:
if_exist((1,2,3,4,5),7)

False

In [33]:
# 7. Convert a tuple to a list
def convert_to_list(tupl):
    return list(tupl)

In [34]:
convert_to_list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [35]:
# 8. Convert a list to a tuple.
def convert_to_tupl(lst):
    return tuple(lst)

In [37]:
convert_to_tupl([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [39]:
# 9. Unpack the elements of a tuple into variables.
t = (1,2,3,4,5)
var1,var2,var3,var4,var5 = t
print("var1:" , var1)
print("var2:" , var2)
print("var3:" , var3)
print("var4:" , var4)
print("var5:" , var5)

var1: 1
var2: 2
var3: 3
var4: 4
var5: 5

In [47]:
# 10. Create a tuple of even numbers from 1 to 10.
t = [i for i in range(2,11,2)]
print(tuple(t))

(2, 4, 6, 8, 10)

In [49]:
# 11. Create a tuple of odd numbers from 1 to 10
t = [i for i in range(1,11,2)]
print(tuple(t))

(1, 3, 5, 7, 9)

In [51]:
# 12. Concatenate two tuples.
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)
concatenate = t1+t2
print(concatenate)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [1]:
# 13. Repeat a tuple three times.
t = (1,2,3)
print(t*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [52]:
# 14. Check if a tuple is empty.

def check_if_empty(tupl):
    if tupl:
        return f"Tuple is not empty"
    else:
        return f"tuple is empty"

In [53]:
check_if_empty((1,2,34))

'Tuple is not empty'

In [54]:
check_if_empty(('hello'))

'Tuple is not empty'

In [56]:
check_if_empty((8))

'Tuple is not empty'

In [57]:
check_if_empty(())

'tuple is empty'

In [58]:
# 15. Create a nested tuple
nested_tuple = ((1,2,3),('a','b','c'),(True,False))
print(f"Nested tuple = {}")

In [60]:
nested_tuple(("M00954289","exam seat no."))

(1, 2, 'varli', 'abc high school', ('M00954289', 'exam seat no.'), 9, 10)

In [1]:
# 16. Access the first element of a nested tuple.
t = (1,2,3,(5,6,7,4),6.44)
t[3][0]

5

In [10]:
# 17. Create a tuple with a single element.
def single_element(tupl):
    if len(tupl)==1:
        return tupl
    else:
        return f"The tuple can have only one element"

In [11]:
single_element((2,))
# The trailing comma is necessary in order to inform python that you are trying to make a tuple of single element

(2,)

In [14]:
single_element((2))
# without trailing comma python gives error

TypeError: object of type 'int' has no len()

In [15]:
single_element((1,2,3))

'The tuple can have only one element'

In [4]:
# 18. Compare two tuples.                            

def compare_tuple(t1,t2):
    print(f"t1 == t2 : {t1 == t2}")
    print(f"t1 != t2 : {t1 != t2}")
    print(f"t1 > t2 : {t1 > t2}")
    print(f"t1 >= t2 : {t1 >= t2}" )                        
    print(f"t1 < t2 : {t1 < t2}"   )     
    print(f"t1 <= t2 : {t1 <= t2}")

In [5]:
compare_tuple((1,2,3,4),(5,6,7,8))

t1 == t2 : False
t1 != t2 : True
t1 > t2 : False
t1 >= t2 : False
t1 < t2 : True
t1 <= t2 : True

In [29]:
# 19. Delete a tuple.
my_tupl = (1,2,3,'mariana')
del my_tupl

In [31]:
my_tupl

NameError: name 'my_tupl' is not defined

In [39]:
# 20. Slice a tuple.
tupl = (1,2,3,5,6,'hello','world')
tupl[5:7]

('world', 'hello', 6, 5, 3, 2, 1)

In [40]:
tupl[3:5]

(5, 6)

In [46]:
tupl[-2:-5:-1]

('hello', 6, 5)

In [48]:
tupl[::1]

(1, 2, 3, 5, 6, 'hello', 'world')

In [49]:
tupl[::-1]

('world', 'hello', 6, 5, 3, 2, 1)

In [56]:
# 21. Find the maximum value in a tuple
def find_max(t):
    return f"The maximum value in tuple is: {max(t)}"

In [57]:
find_max((1,2,3,5,.7))

'The maximum value in tuple is: 5'

In [53]:
# 22. Find the minimum value in a tuple.
def find_min(t):
    return f"The minimum value in tuple is: {min(t)}"

In [54]:
find_min((1,2,3,5,.7))

'The minimum value in tuple is: 0.7'

In [60]:
# 23. Convert a string to a tuple of characters.
str = "hi how are you?"
tuple(str)

('h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?')

In [63]:
# 24. Convert a tuple of characters to a string.
tupl = ('h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u', '?')
join_characters = ''.join(tupl)
print(join_characters)

hi how are you?

In [2]:
# 25. Create a tuple from multiple data types
t = (1,2,4.667,'sandalwood','saad345',True,False)
print(t)

(1, 2, 4.667, 'sandalwood', 'saad345', True, False)

In [4]:
# 26. Check if two tuples are identical.
def are_identical(t1,t2):
    if t1==t2:
        return f"Yes, both the tuples are identical"
    return f"No, they are not identical"

In [6]:
are_identical((1,2,3),(1,2 ,3))

'Yes, both the tuples are identical'

In [8]:
are_identical((1,2,3,'nine',5),(6,2,1))

'No, they are not identical'

In [6]:
# 27. Sort the elements of a tuple.
def sort(t):
    return tuple(sorted(t))

In [7]:
sort((3,1,2,6,3))

(1, 2, 3, 3, 6)

In [23]:
# 28. Convert a tuple of integers to a tuple of strings
def tuple_to_string(t):
    return tuple(str(i) for i in t)

In [24]:
tuple_to_string([1.2,3,5,6])

('1.2', '3', '5', '6')

In [25]:
tuple_to_string((1,2,3,5,4))

('1', '2', '3', '5', '4')

In [36]:
# 29. Convert a tuple of strings to a tuple of integers.
def string_to_integer(t):
    return tuple(int(i) for i in t)

In [37]:
string_to_integer(('1','2','3','5','4'))

(1, 2, 3, 5, 4)

In [38]:
# 30. Merge two tuples.
def Merge_two_tuples(t1,t2):
    return t1+t2

In [39]:
Merge_two_tuples((1,2,3,4,5),(6,7,8,9,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [18]:
# 31. Flatten a nested tuple.
def flatten_nested_tuple(t):
    flattened = []
    for i in t:
        if isinstance(i,tuple):
            flattened.extend(flatten_nested_tuple(i))
        else:
            flattened.append(i)
    return tuple(flattened)

In [19]:
flatten_nested_tuple(((1,2,3),(4,5,6)))

(1, 2, 3, 4, 5, 6)

In [25]:
flatten_nested_tuple(((1,2,3),5,6,(9,10,11)))

(1, 2, 3, 5, 6, 9, 10, 11)

In [34]:
# 32. Create a tuple of the first 5 prime numbers.
t = tuple(i for i in range(3,6,2))
print(f"the first five prime numbers are: {t}")

the first five prime numbers are: (3, 5)

In [40]:
# 33. Check if a tuple is a palindrome.
def is_palindrome(t):
    if t[0::]==t[::-1]:
        return f"Yes the provided tuple is palindrome"
    return f"no they are not palindrome"

In [42]:
is_palindrome(('amima'))

'Yes the provided tuple is palindrome'

In [43]:
is_palindrome(('saad'))

'no they are not palindrome'

In [44]:
is_palindrome(("AATAA"))

'Yes the provided tuple is palindrome'

In [48]:
# 34. Create a tuple of squares of numbers from 1 to 5.
t = tuple(i**2 for i in range(1,6))
print(f"The square of number from 1 to 5 are : {t}")

The square of number from 1 to 5 are : (1, 4, 9, 16, 25)

In [49]:
# 35. Filter out all even numbers from a tuple.
t = tuple(i for i in range(1,100,2))
print(f"tuple with filtered out even number from 1 to 100 is: {t}")

tuple with filtered out even number from 1 to 100 is: (1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99)

In [6]:
# 35. Filter out all even numbers from a tuple.
def Multiply_tuple_by_two(t):
    t1 = tuple(i*2 for i in range(len(t)+1))
    return t1

In [7]:
Multiply_tuple_by_two((1,2,3,4,5))

(0, 2, 4, 6, 8, 10)

In [10]:
# 37. Create a tuple of random numbers.
import random
t = tuple(random.randint(1,100) for i in range(10))
t

(41, 83, 67, 49, 66, 16, 54, 55, 7, 65)

In [13]:
# 38. Check if a tuple is sorted.
def if_sorted(t):
    for i in range(len(t)-1):
        if t[i]>t[i+1]:
            return f"tuple- {t} is not sorted"
    return f"tuple - {t} is sorted"

In [14]:
if_sorted((5,4,3,2,1))

'tuple- (5, 4, 3, 2, 1) is not sorted'

In [15]:
if_sorted((1,2,3,6,8,10))

'tuple - (1, 2, 3, 6, 8, 10) is sorted'

In [15]:
# 39. Rotate a tuple to the left by `n` positions.

def rotate_left(t,n):
    n = n%len(t)
    rotated_tuple = t[n:]+t[:n]
    return f"The tuple is rotated to left by '{n} position : {rotated_tuple}'"

In [16]:
rotate_left((1,2,3,4,5,6,7),1)

"The tuple is rotated to left by '1 position : (2, 3, 4, 5, 6, 7, 1)'"

In [13]:
# 40. Rotate a tuple to the right by `n` positions.
def rotate_right(t,n):
    n = n % len(t)
    rotated_tuple = t[-n:]+t[:-n]
    return f"The is rotating to right by '{n}': {rotated_tuple}"

In [14]:
rotate_right((1,2,3,4,5,6),1)

"The is rotating to right by '1': (6, 1, 2, 3, 4, 5)"

In [11]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci =  [0,1]
    while len(fibonacci)<n:
        next_number = fibonacci[-1]+fibonacci[-2]
        fibonacci.append(next_number)
    return f" The first five fibonacci numbers are: {tuple(fibonacci)}"

In [12]:
generate_fibonacci(5)

' The first five fibonacci numbers are: (0, 1, 1, 2, 3)'

In [26]:
# 42. Create a tuple from user input
_input = input("Enter elements separated by commas to create tuple: ")
split_string = _input.split(',')
print(tuple(split_string))

Enter elements separated by commas to create tuple:  1,2,3,hello,arena,lets,play,the,game

('1', '2', '3', 'hello', 'arena', 'lets', 'play', 'the', 'game')

In [36]:
# 43. Swap two elements in a tuple.
t = (1,2,3,4,5)
j = list(t)
for i in j:
    j[0],j[2]= j[2],j[0]
print(tuple(j))

(3, 2, 1, 4, 5)

In [1]:
# 44. Reverse the elements of a tuple.
def reverse_element(t):
    return t[::-1]

In [2]:
reverse_element(("Tahreen"))

'neerhaT'

In [3]:
reverse_element((1,2,3,4,5,6))

(6, 5, 4, 3, 2, 1)

In [25]:
# 45. Create a tuple of the first `n` powers of 2.
n = 11
t = tuple(i**2 for i in range(1,n))
t

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [15]:
# 46. Find the longest string in a tuple of strings
# Method_1
def longest_string(t):
    longest_string = ()
    for i in t:
        if len(i)>=len(longest_string):
            longest_string = i
    return longest_string

In [17]:
longest_string(('hello','world','Tahreen','12345saadkhan665'))

'12345saadkhan665'

In [19]:
# Mehod_2
def longest_str(t):
    longest_string = max(t,key=len)
    return f"The longest string is: {longest_string}"

In [22]:
longest_str(("apple", "banana", "grape", "kiwi", "watermelon"))

'The longest string is: watermelon'

In [21]:
# 47. Find the shortest string in a tuple of strings.
def shortest_string(t):
    shortest_string = min(t,key = len)
    return f"The shortest string in the tuple is : {shortest_string}"

In [23]:
shortest_string(("apple", "banana", "grape", "kiwi", "watermelon"))

'The shortest string in the tuple is : kiwi'

In [28]:
# 48. Create a tuple of the first `n` triangular numbers
n = 10
triangular_number = tuple(i*(i+1)//2 for i in range(10))
triangular_number

(0, 1, 3, 6, 10, 15, 21, 28, 36, 45)

In [1]:
# 49. Check if a tuple contains another tuple as a subsequence.

def if_subsequence(tupl,sub_tupl):
    for i in range(len(tupl)-len(sub_tupl)+1):
        if tupl[i:i+len(sub_tupl)]==sub_tupl:
            return f"{sub_tupl} is the subsequence of {tupl}"
    return f"{sub_tupl} is not the subsequence of {tupl}"

In [2]:
if_subsequence((1,2,3,4,5,6),(4,5,6))

'(4, 5, 6) is the subsequence of (1, 2, 3, 4, 5, 6)'

In [3]:
if_subsequence((1,2,3,4,5),(4,5,6))

'(4, 5, 6) is not the subsequence of (1, 2, 3, 4, 5)'

In [1]:
# 50. Create a tuple of alternating 1s and 0s of length n.
def alternating_1s_and_0s(n):
    alternating_tuple = tuple(i%2 for i in range(n))
    return alternating_tuple

In [2]:
alternating_1s_and_0s(10)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
# Set Based Practice Problem :

In [6]:
# 1. Create a set with integers from 1 to 5.
s = set(i for i in range(1,6))
print(f"Set with integer from 1 to 5 : {s}")

Set with integer from 1 to 5 : {1, 2, 3, 4, 5}

In [35]:
# 2. Add an element to a set.
s = set()
s.add(1)
s.add(2)
s.add(3)
s.add(4)
s.add(5)
print(f"The added element in set are: {s}")

The added element in set are: {1, 2, 3, 4, 5}

In [37]:
# 3. Remove an element from a set.
s = {1,2,34,3,4,5}
s.remove(34)
s

{1, 2, 3, 4, 5}

In [61]:
# 4. Check if an element exists in a set.
my_set = {1,2,3,4,5,6,7}
element_to_check = int(input("Enter the element to check:"))
if element_to_check in my_set:
    print(f"{element_to_check} exist in the set")
else:
    print(f"{element_to_check} does not exist in set")

Enter the element to check: 5

5 exist in the set

In [1]:
# 5. Find the length of a set without using the len() function
def find_length(set):
    count = 0
    for i in set:
        count += 1
    return f"The length of provided set is: {count}"

In [2]:
find_length({1,23,4,6})

'The length of provided set is: 4'

In [3]:
find_length({})

'The length of provided set is: 0'

In [8]:
# 6. Clear all elements from a set
def clear_all(set):
    return {set.clear()}

In [9]:
clear_all({1,2,3,4,5})

{None}

In [27]:
# . Create a set of even numbers from 1 to 10.
s = {i for i in range(1,11) if i%2==0}
print(s)

{2, 4, 6, 8, 10}

In [28]:
# 8. Create a set of odd numbers from 1 to 10.
s = {i for i in range(1,11) if i%2 != 0}
print(s)

{1, 3, 5, 7, 9}

In [1]:
# 9. Find the union of two sets.
def union_of_set(a=set,b=set):
    return a.union(b)

In [2]:
union_of_set({1,2,3},{3,4,6})

{1, 2, 3, 4, 6}

In [3]:
# 10. Find the intersection of two sets.
def intersection(a = set , b = set):
    return a.intersection(b)

In [4]:
intersection({1,2,3},{3,4,6})

{3}

In [9]:
# 11. Find the difference between two sets.
def difference(a=set, b=set):
    diff_a = a.difference(b)
    diff_b = b.difference(a)
    return f"Differnce in set a : {diff_a}, Difference in set b : {diff_b}"

In [10]:
difference({1,2,3},{3,4,6})

'Differnce in set a : {1, 2}, Difference in set b : {4, 6}'

In [15]:
# 12. Check if a set is a subset of another set
def issubset(a=set, b=set):
    set1 = a.issubset(b)
    set2 = b.issubset(a)
    return f"Set1 subset of Set2: {set1}, Set2 subset of Set1: {set2} "

In [16]:
issubset({1,2,3,4,5,6,7,7,8},{2,3,4,5})

'Set1 subset of Set2: False, Set2 subset of Set1: True '

In [17]:
issubset({1,2,3},{3,4,6})

'Set1 subset of Set2: False, Set2 subset of Set1: False '

In [18]:
# 13. Check if a set is a superset of another set.
def issuperset( a = set, b= set):
    set1 = a.issuperset(b)
    set2 = b.issuperset(a)
    return f"Is Set1 superset of set2 : {set1}, Is Set2 superset of Set 1: {set2}"

In [19]:
issuperset({1,2,3,4,5,6,7,7,8},{2,3,4,5})

'Is Set1 superset of set2 : True, Is Set2 superset of Set 1: False'

In [20]:
issuperset({1,2,3},{3,4,6})

'Is Set1 superset of set2 : False, Is Set2 superset of Set 1: False'

In [21]:
# 14. Create a set from a list.
def list_to_set(l1 = list):
    return set(l1)

In [23]:
list_to_set([1,2,3,3 ,3,4,"Reena"])

{1, 2, 3, 4, 'Reena'}

In [24]:
# 15. Convert a set to a list
def set_to_list(s1 = set):
    return list(s1)

In [26]:
set_to_list({1,2,3,4,"Teena"})

[1, 2, 3, 4, 'Teena']

In [30]:
# 16. Remove a random element from a set.
import random
def remove_random_element(a =set ):
    random_element = random.choice(list(a))
    delete_random_element = a.remove(random_element)
    return a , f"Removed element = {random_element}"

In [31]:
remove_random_element({1,2,3,4,5,6})

({1, 2, 4, 5, 6}, 'Removed element = 3')

In [32]:
# 17. Pop an element from a set.
def pop_element(a = set):
    popped_element = a.pop()
    return f"popped element: {popped_element}" ,a

In [33]:
pop_element({1,23,3,56,7})

('popped element: 1', {3, 7, 23, 56})

In [1]:
# 18. Check if two sets have no elements in common
def isuncommon(a= set, b = set):
    common_elements = a.intersection(b)
    if common_elements:
        return f"The common elements are : {common_elements}"
    return f"The two sets have no common elements"

In [2]:
isuncommon({1,2,3,4,5},{6,7,8,9})

'The two sets have no common elements'

In [3]:
isuncommon({1,2,3,4,5},{3,4,5,6,7})

'The common elements are : {3, 4, 5}'

In [4]:
# 19. Find the symmetric difference between two sets.
def symmetric_difference(a = set, b = set):
    symm_diff = a^b
    return symm_diff

In [5]:
symmetric_difference({1,2,3,4,5,6},{5,3,7,8,9})

{1, 2, 4, 6, 7, 8, 9}

In [7]:
symmetric_difference({1,2,3,4},{1,2,3,4})

set()

In [15]:
# 20. Update a set with elements from another set.
def update_set(a = set, b=set):
    update_set = a.update(b)
    return a

In [16]:
update_set({1,2,3,4,5},{3,4,5,6,7})

{1, 2, 3, 4, 5, 6, 7}

In [1]:
# 21. Create a set of the first 5 prime numbers
# check if the number is prime
def is_prime(num):
    if num<=1:
        return False
    for i in range(2,int(num**0.5)+1):
        if num % i == 0:
            return False
    return True
#     creating empty set for storing prime numbers
prime_set = set()
# staring number for loop iteration
num = 2
# staring loop, until the minimum lenth of prime set is 5
while len(prime_set)<5:
#     check whether the number is prime or not using is_prime function.
    if is_prime(num):
        prime_set.add(num)
#         move on to next number for next iteration
    num += 1
print("The set of first five prime number is:", prime_set)

The set of first five prime number is: {2, 3, 5, 7, 11}

In [2]:
# 22. Check if two sets are identical.
def is_identical(x= set , y = set):
    if x==y:
        return True
    return False

In [6]:
is_identical({1,2,3,4},{1,2,3,4})

True

In [7]:
is_identical({1,2,3,4},{1,2,4,6})

False

In [3]:
# 23. Create a frozen set
def frozen_set(x=set):
    froze_set = frozenset(x)
    return f"The frozen set is: {froze_set}"

In [4]:
frozen_set({1,2,34,5,6})

'The frozen set is: frozenset({1, 2, 34, 5, 6})'

In [16]:
# 24. Check if a set is disjoint with another set.
def is_disjoint(x=set , y =set):
    disjoint = x.isdisjoint(y)
    return f"Are these sets disjoint: {disjoint} "

In [17]:
is_disjoint({1,2,3,4},{1,2,3,4})

'Are these sets disjoint: False '

In [18]:
is_disjoint({1,2,3,4},{5,4,6,7})

'Are these sets disjoint: False '

In [20]:
is_disjoint({1,2,3,4},{5,6,7,8})

'Are these sets disjoint: True '

In [28]:
# 25. Create a set of squares of numbers from 1 to 5.
def create_square(x = set()):
    squaring = set(i**2 for i in x)
    return squaring

In [30]:
create_square({1,2,3,4,5})

{1, 4, 9, 16, 25}

In [4]:
# 26. Filter out all even numbers from a set.
def filter_even(x):
    filtering_even_out = set(i for i in x if i%2==0)
    return filtering_even_out

In [5]:
filter_even({1,2,3,4,5,6,7,8,9,100})

{2, 4, 6, 8, 100}

In [6]:
# 27. Multiply all elements in a set by 2.
def multiply_by_2(x):
    mul_by_2 = set(i*2 for i in x)
    return mul_by_2

In [7]:
multiply_by_2({1,2,3,4,5})

{2, 4, 6, 8, 10}

In [12]:
# 28. Create a set of random numbers.
import random
def random_numbers_range(x):
    y = set()
    for i in range(x):
        random_numbers = random.randint(1,100)
        y.add(random_numbers)
    return y

In [13]:
random_numbers_range(5)

{36, 47, 54, 56, 63}

In [37]:
# 29. Check if a set is empty.
my_set = set()
# As if statement understands boolean language and it interprets empty set as false thus "if not my_set" is used rather than "if my_set"
if not my_set:
    print("The set is empty")
else:
    print("The set is non empty")

The set is empty

In [1]:
# 30. Create a nested set (hint: use frozenset).
def nested_set(x,y):
    frozen_set1 = frozenset(x)
    frozen_set2 = frozenset(y)
    nested_set = {frozen_set1, frozen_set2}
    return f"Nested sets are : {nested_set}"

In [2]:
nested_set({1,2,3,5},{6,7,8})

'Nested sets are : {frozenset({1, 2, 3, 5}), frozenset({8, 6, 7})}'

In [9]:
# 31. Remove an element from a set using the discard method.
def discard_element(set,x):
    set.discard(x)
    return set

In [10]:
discard_element({1,2,3,5},2)

{1, 3, 5}

In [11]:
# 32. Compare two sets.
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print(f"Set1 : {set1}")
print(f"set2 : {set2}")
print(f"Is set1 subset of set2 : {is_subset}")
print(f"Is set1 superset of set2 : {is_superset}")
print(f"Intersection between sets : {intersection}")
print(f"Union : {union}")
print(f"Element in set1 but not in set2 : {difference1}")
print(f"Element in set2 but not in set1 : {difference2}")

Set1 : {1, 2, 3, 4, 5}
set2 : {4, 5, 6, 7, 8}
Is set1 subset of set2 : False
Is set1 superset of set2 : False
Intersection between sets : {4, 5}
Union : {1, 2, 3, 4, 5, 6, 7, 8}
Element in set1 but not in set2 : {1, 2, 3}
Element in set2 but not in set1 : {8, 6, 7}

In [13]:
# 33. Create a set from a string.
string = "Hello world, 684 times"
set1 = set(string)
print(set1)

{'d', 'i', ',', 't', ' ', 's', '6', 'l', 'r', 'o', '8', 'w', '4', 'm', 'H', 'e'}

In [20]:
# 34. Convert a set of strings to a set of integers.
set_of_strings = {'123','66','3','6778'}
set_of_integers = set()
for i in set_of_strings:
    integer_value = int(i)
    set_of_integers.add(integer_value)
print(set_of_integers)

{3, 66, 123, 6778}

In [21]:
# 35. Convert a set of integers to a set of strings.
set_of_integers = {1,23,456,45656}
set_of_strings = set()
for i in set_of_integers:
    string_value = str(i)
    set_of_strings.add(string_value)
print(set_of_strings)

{'23', '45656', '1', '456'}

In [22]:
# 36. Create a set from a tuple.
def set_from_tuple(x = tuple):
    return set(x)

In [23]:
set_from_tuple((1,23,5,66))

{1, 5, 23, 66}

In [24]:
# 37. Convert a set to a tuple.
def tuple_from_set(x = set):
    return tuple(x)

In [25]:
tuple_from_set({1,32,45,6,7})

(32, 1, 6, 7, 45)

In [13]:
# 38. Find the maximum value in a set.
def max_value(x=set):
    return max(x)

In [17]:
max_value({1,2,45,6,34,56,345,3,1})

345

In [16]:
# 39. Find the minimum value in a set
def min_value(x=set):
    return min(x)

In [18]:
min_value({1,2,45,6,34,56,345,3,1})

1

In [30]:
# 40. Create a set from user input.
set1 = input("Input to create set(use comma or space for separating elements):")
elements = set1.replace(',',' ').split()
set_conversion = set(elements)
print(set_conversion)

Input to create set(use comma or space for separating elements): 1 4 7 7 6 tahreen

{'7', '6', '1', '4', 'tahreen'}

In [33]:
# 41. Check if the intersection of two sets is empty.
def intersection_empty(x=set,y=set):
    if x.intersection(y):
        return f"Not empty"
    else:
        return f"empty"
    
#    the code defines the function to check whether theres any common element in two sets or not.
# so the code uses function of intersection whose function is to find common elements between two sets.
# if common element exist it return "not empty" , else it returns as "empty"

In [34]:
intersection_empty({1,2,4,6},{4,4,7,88})

'Not empty'

In [35]:
intersection_empty({1,23,5},{6,7,8})

'empty'

In [22]:
# 42. Create a set of the first 5 Fibonacci numbers.
def fibonacci_numbers(n):
    fibonacci_list = [0,1]
    for i in range(2,n+1):
        next_fibonacci = fibonacci_list[i-1]+fibonacci_list[i-2]
        fibonacci_list.append(next_fibonacci)
    return set(fibonacci_list)

# fibonacci number is the series of number where each numbers is the sum of preceding two numbers starting from 0 and 1
# ere the code defines a function as fibonacci_numbers with single  argument 'n'.
# the code starts a fibonacci list containing 0 and 1 which is utilized later in next fibonaccin statement in forloop 
# using the indexing method the code adds the last two preceding numbers to provide the next fibonacci number.
# the code uses forloop in range of 2(next number in series after 0 and 1) to n+1(easier for user as it provide with same number of elements as input)
# the append function is used to add all the subsequent desired iterations in fibonacci list
# at last the code returns the fibonacci list as fibonacci set by using set() function.

In [23]:
fibonacci_numbers(6)

{0, 1, 2, 3, 5, 8}

In [2]:
# 43. Remove duplicates from a list using sets
def remove_duplicates(l = list):
    removing_duplicates = set(l)
    return l

# set has the capability to remove duplicates so, here the code simply converts the list to set.

In [3]:
remove_duplicates([1,1,3,5,6,6])

[1, 1, 3, 5, 6, 6]

In [13]:
# 44. Check if two sets have the same elements, regardless of their count.
def have_same_elmnts(x=set(),y=set()):
    return x==y

In [14]:
have_same_elmnts({1,2,3,4},{3,5,6,4,'tahreen'})

False

In [6]:
have_same_elmnts({1,2,3,4},{5,6,7,8})

False

In [15]:
have_same_elmnts({1,2,3},{3,2,1})

True

In [10]:
# 45. Create a set of the first `n` powers of 2.
def n_powers_of_2(n):
    return {2**i for i in range(n)}

# here n_powers_of_2  takes argument n and uses set comprehension to provide with number of n powers of 2(n) for every subsequent iteration .

In [12]:
n_powers_of_2(6)

{1, 2, 4, 8, 16, 32}

In [20]:
# 46. Find the common elements between a set and a list.
def common_element(l,s):
    finding_common = s.intersection(l)
    return finding_common

# here a function defined as common elements takes an argument of l(list),s(set)
# the function s.intersection(l) finds the common elements present in list and sets

In [21]:
common_element([1,2,3],{3,5,6,2,1})

{1, 2, 3}

In [23]:
# 47. Create a set of the first `n` triangular numbers.
def triangular_numbers(n):
    return {i*(i+1)//2 for i in range(1,n+1)}

# n argument : no. of triangular numbers one want.
# he return statement uses set comprehension and typical mathematical formula of triangular numbers in the range of 1 to n+1(it provides with exact numbers of triangular number input)

In [24]:
triangular_numbers(10)

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

In [30]:
# 48. Check if a set contains another set as a subset
def has_subset(x,y):
    if y.issubset(x):
        return True
    return False
    
# Here function "issubset" is used to know whether y is subset of x or not.
# if the condition specified is true it returns so, and if it's false it returns so.

In [31]:
has_subset({1,2,5},{3})

False

In [32]:
has_subset({1,2,3,5},{1,3})

True

In [7]:
# 49. Create a set of alternating 1s and 0s of length `n`
def create_alternating_set(n):
    alternating_list= [i%2 for i in range(n)]
    alternating_set = set(alternating_list)
    return alternating_set

# Here the modulus operator is used with 2 which is divided by subsequent numbers till specified as "n".

In [8]:
create_alternating_set(9)
# As question clearly asks for set then we can have repeating values of 0s and 1s , no matter how high the value of n is. we can use list for n numbers of 0s and 1s.

{0, 1}

In [9]:
create_alternating_set(1)

{0}

In [10]:
create_alternating_set(2)

{0, 1}

In [11]:
create_alternating_set(3)

{0, 1}

In [20]:
# 50. Merge multiple sets into one.
def merge_sets(*sets):
    merge_sets= set.union(*sets)
    return merge_sets

# here the *set takes n number of arguments and the function set.union merges the number of sets provided and being set, it also remvoes the duplicates

In [21]:
merge_sets({1,2,3},{4,6,7},{6,7,8})

{1, 2, 3, 4, 6, 7, 8}

In [ ]:
# "Thankyou" for checking it although it's late to submit this one.
# please do provide me with my mistakes.